<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <glassMapper.addMaps>
        <processor type="SitecoreForms.Feature.Hero.ORM.RegisterMappings, SitecoreForms.Feature.Hero" />
      </glassMapper.addMaps>
    </pipelines>
  </sitecore>
</configuration>
